<!DOCTYPE html>
<html>
	<head></head>

	<body>
		<form method="post" action="/admin">
			<label for="productname">Product name: </label>
			<input name="firstname" placeholder="Product name" />
			<p> 
			<label for="description">Description: </label>
			<input name="description" placeholder="Descritopn" />
			</p> 
			<p> 
			<label for="pictureurl">Product image URL: </label>
			<input name="pictureurl" placeholder="Picture image URL" />
			</p>
			<p> 
			<label for="amazonurl">Amazon URL: </label>
			<input name="amazonurl" placeholder="Product URL on Amazon" />
			</p>
			<button id="save-product" type="submit">Save product</button>

		</form>

	</body>

</html>