<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="A fan site for lovers of Trader Joe's and its products" />
  <meta name="author" content="Kourosh Karimkhany" />
  <link rel="icon" href="../../favicon.ico" />

  <title>TJ Lover: A fan site for lovers of Trader Joe's and its products</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <!-- Custom styles for this template -->
  <link href="../css/style.css" rel="stylesheet" />

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
  
  <!-- Google fonts -->
  <link href="http://fonts.googleapis.com/css?family=Smythe" rel="stylesheet" type="text/css" />
  <link href="http://fonts.googleapis.com/css?family=Domine" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" href="../css/style.css" />

  <!-- Star rating -->
  <link href="../star-rating/css/star-rating.min.css" media="all" rel="stylesheet" type="text/css" />
  
</head>

<body>
  <!-- nav bar -->
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">TJ Lover</a>
      </div>
      <div class="navbar-collapse collapse">
        <form class="navbar-form navbar-right" role="form">
          <div class="form-group">
            <input type="text" name="login-email" placeholder="Email" class="form-control">
          </div>
          <div class="form-group">
            <input type="password" name="login-password" placeholder="Password" class="form-control">
          </div>
          <button type="submit" class="btn btn-success">Sign in</button>
        </form>
      </div><!--/.navbar-collapse -->
    </div>
  </div>
  <!-- End nav bar -->

  <!-- Hero section with product search form -->
  <div class="container search-hero">

    <h1 class="headline">TJ Lover</h1>

  </div>

  <div class="container">
    <form>
      <div class="row">
        <div class="col-md-10">
          <label for="product-search-form" class="sr-only">Product Search</label>
          <input type="text" class="form-control" id="product-search-form" name="product" placeholder="Product Name" />
        </div>
        <div class="col-md-1">
          <button type="button" class="btn btn-default">Search</button>
        </div>
        <div class="col-md-1">
          <img src="../assets/pointing-finger-small.png" />
        </div>
      </div>
    </form>


  </div> <!-- End search form container -->
  
  <div class="container showcase">

    <!-- First item -->
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="http://ecx.images-amazon.com/images/I/51lDQdCVPHL.jpg" alt="Trader Joe's Speculoos Cookie Butter 14.1 Oz (Pack of 2)" />
          <div class="caption">
            <h3>Speculoos Cookie Butter</h3>
            <p>Trader Joe's Speculoos Cookie Butter is, in its most simplistic terms, spreadable Speculoos cookies. Speculoos cookies are classic Belgian cookies with great crunch, and a slightly caramelized, almost-but-not-quite-gingerbread flavor.</p>
          </div>
          <p class="stars"><input id="input-6a" class="rating" data-size="xs" data-min="0" data-max="5" data-step=".5" data-show-clear="false" /></p>
        </div>
      </div>

    <!-- Second item -->
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="http://www.traderjoes.com/images/fearless-flyer/uploads/article-1832/pumpkin-spice-chai.png"/ alt="Trader Joe's Pumpkin Spice Chai" />
            <div class="caption">
              <h3>Pumpkin Spice Chai</h3>
              <p>Based on the traditional Indian drink masala chai (mixed-spice tea), Trader Joe's Pumpkin Spice Chai starts with a chai tea blend that's a combination of honey, vanilla, and black tea, heightened by a mélange of spices like cinnamon, anise, clove, cardamom, and ginger.</p>
            </div>
            <p class="stars"><input id="input-6b" class="rating" data-size="xs" data-min="0" data-max="5" data-step=".5" data-show-clear="false" /></p>
      </div>
    </div>


    <!-- Third item -->
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="http://www.traderjoes.com/images/fearless-flyer/uploads/article-1829/mini-orange-cranberry-tea-scones.png" alt="Trader Joe's Mini Orange Cranberry Tea Scones" />
            <div class="caption">
            <h3>Mini Orange Cranberry Tea Scones</h3>
            <p>Moist, slightly crumbly, and oh-so-buttery, Trader Joe's Mini Orange Cranberry Tea Scones showcase the classic orange-cranberry flavor combo, with a big burst of real orange and tart-sweet cranberries.</p>
            </div>
            <p class="stars"><input id="input-6c" class="rating" data-size="xs" data-min="0" data-max="5" data-step=".5" data-show-clear="false" /></p>
      </div>
    </div>
  </div>


    <hr>

    <footer>
      <p>&copy; Rosheelicious Corp. 2014</p>
    </footer>
  </div> <!-- /container -->


  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="../star-rating/js/star-rating.min.js" type="text/javascript"></script></body>
</html>
