
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link href="http://fonts.googleapis.com/css?family=Smythe" rel="stylesheet" type="text/css" />
	<link href="http://fonts.googleapis.com/css?family=Domine" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="../css/style.css" />

	<title>TJ Lover — A Site for Fans of Trader Joe's and Its Products</title>
</head>

<body>
	<div class="container">
		<div class="hero-text">
			<p>Trader Lover</p>
		</div>
		<div class="hero-subtext">
			<p>Rate your favorite Trader Joe's Products</p>
		</div>
		<div class="search">
			<form>
				<p>Product Name:</p>
				<input type="text" name="product" placeholder='Example: 72% Cacao Dark Chocolate' />
				<img src="../assets/pointing-finger-small.png"
			</form>
		</div>
	</div>
</body>
</html>
