	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">TJ Lover</a>
      </div>
      <div class="navbar-right">
        <a href="/login"><p class="navbar-text">Log In</p></a>
        <a href="/signup"><p class="navbar-text">Register</p></a>
      </div>
    </div><!-- end container -->
  </nav>