<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>
	<div class="container">
		<img src="http://www.traderjoes.com/images/fearless-flyer/uploads/article-1832/pumpkin-spice-chai.png" />
			<div class="text">
				<h2>Pumpkin Spice Chai</h2>
				<p>This is a test of the emergency broadcast system. The broadcasters in this area, in voluntary cooperation with local, state and federal authorities, have created this system.</p>
				<button>Buy It Now!</button>
			</div>	
	</div>
</body>
</html>