<% layout ("layout") %>

  <!-- Product header -->
	<div class="container">
		<div class="product-page">
      <img src="<%- picurl %>"
      <div class="text">
  			<h1><%= product %></h1>
        <p><%= description %></p>
        <button href="<%- amazonurl %>">Buy on Amazon</button>
      </div>
    </div>
  </div> <!-- /container -->
