  <div class="container"> <!-- Search box container -->
    <!-- Search box -->
    <form class="search-on-product-page" method="post" action="/product">
      <div class="row">
        <div class="col-md-10">
          <label for="product-search-form" class="sr-only">Product Search</label>
          <input type="text" class="form-control" id="product-search-form" name="product" placeholder="Product Name" />
        </div>
        <div class="col-md-1">
          <button type="submit" class="btn btn-default">Search</button>
        </div>
        <div class="col-md-1">
          <img src="/images/pointing-finger-small.png" />
        </div>
      </div>
    </form>
    <!-- End search box -->
  </div> <!-- End search form container -->