.navbar {
	background-color: #553344;
}

.navbar-brand {
	font-family: "Domine", serif;
}

.search-hero {
	margin-top: 80px;
}


.headline {
	text-align: center;
	font-family: "Smythe", cursive;
	color: #553344;
	font-size: 64px;
	font-weight: bold;
}

.showcase {
	margin-top: 10px;
}

.thumbnail h3 {
	font-family: "Smythe", cursive;
	color: #553344;
}

.thumbnail p {
	font-family: "Domine", serif;
	max-width: 300px;
}

.thumbnail img {
	max-width:200px;
	max-height: 250px;
}

.thumbnail {
	height: 550px;
}

.stars {
	position: absolute;
	bottom: 50px;
}

.caption {
	position: absolute;
	top: 45%;
}
